header {
    background-color: rgba(230, 230, 230, 0.8);
}

.header-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    position: relative;
    white-space: nowrap;
    gap: 60px;
}

.header-ul li {
    cursor: pointer;
    transition: 0.2s ease;
}

.header-ul li:hover {
    color: rgb(105, 105, 105);
}