.gift-header {
    margin-top: 2%;
    z-index: 2;
}

article p {
    margin-top: 1%;
    font-size: 46px;
    font-weight: 600;
    z-index: 2;
    font-family: "Tangerine", serif;
    background: radial-gradient(circle,
            rgb(252, 203, 107), #ffbeff,
            rgb(94, 195, 252));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0.3px 0.3px rgba(0, 0, 0, 0.08);
}

article h2 {
    z-index: 2;
}

article button {
    margin-top: 2%;
    z-index: 2;
}

article img {
    transform: translateX(-50%);
    top: 12%;
    left: 50%;
    position: absolute;
    z-index: 1;
    object-fit: none;
    object-position: 50%;
    width: 100%;
    height: 100%;
}

.gift-card {
    overflow: hidden;
    position: relative;
}